<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="../styles/qixiapinpai.css" />
		<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	</head>

	<body>
		<div class="index">
			<header>
				<div class="top"><img src="../images/qixia/header_img.jpg" /></div>
				<div class="bottom">
					<ul>
						<li>
							<a href="javascript:;">首页</a>
						</li>
						<li>
							<a href="javascript:;" class="color">旗下品牌</a>
						</li>
						<li>
							<a href="javascript:;">投资者关系</a>
						</li>
						<li>
							<a href="javascript:;">新闻中心</a>
						</li>
						<li>
							<a href="javascript:;">工作机会</a>
						</li>
						<li>
							<a href="javascript:;">关于梦洁</a>
						</li>
					</ul>
				</div>
			</header>

			<div class="news">
				<div class="news_head">
					<span>旗下品牌</span>
					<p class="new_line"></p>
				</div>
				<div class="new_box">
					<div class="new_head" id="new_head">
						<a href="javascript:;" class="active">梦洁家纺</a>
						<a href="javascript:;">寐 MINE</a>
						<a href="javascript:;">梦洁宝贝</a>
						<a href="javascript:;">梦洁家居</a>
						<a href="javascript:;">BESELF</a>
						<a href="javascript:;">平实美学</a>
						<a href="javascript:;">MEE</a>
						<a href="javascript:;">MINI MEE</a>
						<a href="javascript:;">DreamCoco</a>
					</div>

					<div class="new_list">
						<ul>
							<li id="louti1">
								<div class="list_img">
									<img src="../images/qixia/lie1.jpg" />
									<div class="list_none"><img src="../images/qixia/pic_logo01.png"/></div>
								</div>
								<dl class="list_ri">
									<dt class="list_title"><h3>梦洁家纺</h3></dt>
									<dd class="list_txt">
										<p>
											“梦洁”品牌，1990年创立，行业内首家导入CI策划。 26年，梦洁见证无数爱家人的高品质家居生活。 梦洁在全国建立2400多个零售终端，整合线上线下渠道，打造立体营销网络。在全球与56家外商建立战略合作关系， 在欧洲建立300家零售网点产品出口美国、欧盟、东南亚等20多个国家和地区。 “爱在家庭”的企业信念、高品质的家居产品、互联网+CPS的专业有爱服务，使梦洁家纺与众不同。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti2">
								<div class="list_img"><img src="../images/qixia/lie2.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo02.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title">寐MINE<h3>
				</h3></dt>
									<dd class="list_txt">
										<p>
											寐MINE为梦洁集团旗下高端品牌，取义于英文“我的”，独具一格的设计，满足成功人士与都市新贵自我的精神追求；个性化的产品和服务，营造独一无二的寝居体验。遵循“全球精选”的核心理念，对天然材料无比崇尚，并坚守对品质最苛刻的要求，以确保产品细节的无暇。寐MINE拥有套件、被芯、枕芯、毛毯、席垫、毛巾、抱靠枕、家居服八大系列七十八个品类。崇尚自我，尊重生活！没有什么必须的，唯有寐MINE！
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti3">
								<div class="list_img"><img src="../images/qixia/lie3.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo03.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>梦洁宝贝</h3></dt>
									<dd class="list_txt">
										<p>
											梦洁宝贝是梦洁家纺下属子品牌。 自然、健康、活力是品牌的主旋律，是品牌对快乐的直观理解与深刻诠释。在庞大的家纺王国里，梦洁宝贝选择了守护孩子们的那一片领域。我们选用全棉的面料，确保每一件产品都是健康产品，每一个细节工艺的处理让您在使用过程中感受到意外的亲切与温馨。 我们选用<span>100%</span>可回收的包装袋，坚持着保护环境的义务；持守着“宝贝”的使命让所有孩子享受到健康、快乐的成长历程。因着有爱，我们更快乐、更专业、更专心。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti4">
								<div class="list_img"><img src="../images/qixia/lie4.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo04.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>梦洁家居</h3></dt>
									<dd class="list_txt">
										<p>
											梦洁家居创立于2000年，是梦洁集团旗下的一家全资子公司。公司致力于多项睡眠系统技术研发，提供不断优化的个人和家庭睡眠问题解决方案，满足不同睡眠习惯人群的产品需求。公司主营梦洁床垫、梦洁软体家具、梦洁实木家具等十大品类。产品汇聚全球智慧，运用领先科技，以营造健康睡眠为己任，打造顶级精湛工艺，缔造极致品质家居，带您进入健康、体贴、舒适的纯净睡眠世界。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti5">
								<div class="list_img"><img src="../images/qixia/lie5.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo05.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>BESELF</h3></dt>
									<dd class="list_txt">
										<p>
											现代都市中，人们往往承受着繁重的压力，最难是偷得浮生半日闲，BESELF正暗合了这喧嚣、繁忙之外的另一番憧憬。 还原生活最初的本质，介于朴实与个性之间的时尚， 让由心而生的一种宁静与释放，借助别具心思的设计和天然的材质展现出来。 BESELF更是一种崭新的生活理念，退去浮躁，平松惬意的呼吸，克制欲望， 用洗练的线条和形式，架构出另一种闲适的生活态度。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti6">
								<div class="list_img"><img src="../images/qixia/lie6.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo06.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>平实美学</h3></dt>
									<dd class="list_txt">
										<p>
											“为所有家庭提供高性价的家居产品和简艺生活的美学方式” 平实美学定位前景广阔的大众市场， 快速、持续的为消费者提供平价、时尚、实用的家居用品， 产品品类包括套件、芯类、家饰等全套家居用品， 优雅的法式主题大花卉是品牌主打风格。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti7">
								<div class="list_img"><img src="../images/qixia/lie7.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo07.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>MEE</h3></dt>
									<dd class="list_txt">
										<p>
											MEE•就是英伦  It's British , It's Mee . MEE，中产阶级体验高端英伦家居的格调之选，由英国皇家艺术学院设计师亲身设计，赋予家居生活以优雅的品质、骑士的精神、性感的心灵以及自由的灵魂。 MEE与MINI联名设计了数款英伦系列潮流单品。并作为英伦家居生活典范，被收入2015年《天天向上》英国圣诞特辑。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti8">
								<div class="list_img"><img src="../images/qixia/lie8.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo08.jpg"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>MINI MEE</h3></dt>
									<dd class="list_txt">
										<p>
											MINI MEE 是由英国皇家艺术学院设计师亲身设计，并与众多全球顶级婴童大牌进行跨界合作，给中产父母和可爱的萌宝的睡眠带来舒适、安全和便利的产品。为宝宝睡梦增添无限魔力，并带领宝宝不断探索全新世界，给所有孩子带去快乐。MINI MEE 就是要激发着每一个孩子和世界分享无限欢乐的甜梦。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
							<li id="louti9">
								<div class="list_img"><img src="../images/qixia/lie9.jpg" /><div class="list_none"><img src="../images/qixia/pic_logo09.png"/></div></div>
								<dl class="list_ri">
									<dt class="list_title"><h3>DreamCoco</h3></dt>
									<dd class="list_txt">
										<p>
											DreamCoco是致敬梦洁家纺“爱在家庭”品牌文化而为少女甜梦诞生的少女品牌。我们为献给这个世界所有正值妙龄的少女们，和无论年龄依然怀有纯真少女之心的女性们一个真诚美好的甜梦而不断臻美创新。DreamCoco是永远走在时尚前端的少女寝具潮牌，大胆创新各类流行元素，演化成自我的风格标识，作为一个代表现代都市女性的时尚生活方式品牌，DreamCoco犹如少女甜梦的魔法精灵，自由随性，独具个性，对生活的一切充满激情和好奇，随时发现生活中一切美好的可能，释放自由与爱无限能量。
										</p>
									</dd>
									<dd class="list_btn">
										<a href="javascript:;">申请加盟</a>
										<a href="javascript:;">品牌官网</a>
										<a href="javascript:;">官方商城</a>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="list_brand"><img src="../images/qixia/allbrand.jpg"/></div>
				</div>
			</div>
            <div class="footer">
            	<div class="con">
            		<div class="logo"><img src="../images/qixia/logo.jpg"></div>
            		<div class="addr clearfix">
            			<div class="address">地址：湖南长沙高新技术产业开发区麓谷产业基地谷苑路168号<span>|</span>人力资源热线：0731-82847858</div>
            			<div class="ri">Copyright © 2016 湖南梦洁家纺股份有限公司 All Rights Reserved | 湘ICP备09023120号 | 招商加盟热线：0731-82848909 15575107112</div>
            		</div>
            	</div>
            </div>
		</div>
	</body>
<script src="../scripts/controllers/qixiapinpai.js"></script>
</html>